NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_LOCAL_RPC_URL=http://127.0.0.1:8545
# 部署合约后填入地址
NEXT_PUBLIC_USER_VAULT_ADDRESS=
NEXT_PUBLIC_RC_FACTORY_ADDRESS=
NEXT_PUBLIC_REACTIVE_RPC_URL=https://kopli-rpc.rkt.ink
